{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>






<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>
                    {% csrf_token %}
					{{ form.as_p }}



					<div class="container-login100-form-btn">
						<button type="submit">Login</button>
					</div>





				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

{% endblock %}